## Fixations numerations fix (for aDDM_toolbox)

+ Change the numeration of trials once they are separated in Like and Dislike conditions (avoid breaks in trial number)
+ Calculate the gaze time for each trial

In [1]:
import numpy as np
import pandas as pd
from pandas.core.frame import DataFrame as DF
import seaborn as sns
sns.set(color_codes=True)
#np.random.seed(sum(map(ord, "distributions")))
from sklearn import linear_model  # packages for the logistic regression function to plot the logistic regression 
from sklearn.linear_model import LogisticRegression # packages for the logistic regression function to plot the logistic regression 
import scipy
from scipy import stats, integrate
from scipy.stats import mode
from scipy.stats.stats import pearsonr # Pearson's correlation
from copy import copy as copy
import operator as operator
import pylab

# More condition data

In [2]:
#Input has the fixation and expdat with breaks in trial numerations (due to separation in Like and Dislike conditions)
#data_fix = pd.read_csv('/Users/pradyumna/Documents/gitDocs/FF2018/Output/fixations_collapsed_FFA_Dislike_v1.csv') 
#data_expData = pd.read_csv('/Users/pradyumna/Documents/gitDocs/FF2018/Output/expdata_bin_FFA_Dislike_v1.csv') 

#for binned data
# we use v1 that is the version that doesn't have the numeration corrected
#data_fix = pd.read_csv('/Users/pradyumna/Documents/GiTs/FF2018/InputData/fixations_collapsed_FFA_Like_31.csv') 
#data_expData = pd.read_csv('/Users/pradyumna/Documents/GiTs/FF2018/output/expdata_bin_FFA_Like_31.csv') 

#for not binned data
data_fix = pd.read_csv('/Users/pradyumna/Documents/GiTs/PF2019/Output/fixations_collapsed_PF2019_More_33.csv') 
data_expData = pd.read_csv('/Users/pradyumna/Documents/GiTs/PF2019/Output/expdata_PF2019_More_33.csv') 

data_expData = data_expData.apply(pd.to_numeric, errors='ignore')
data_fix = data_fix.apply(pd.to_numeric, errors='ignore')

# Remove participants 31 , since it's excluded due to missing trial
data_expData = data_expData[data_expData.parcode != 31]
data_fix = data_fix[data_fix.parcode != 31]

In [3]:
print(data_fix.parcode.unique())
print(data_expData.parcode.unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 32 33]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 32 33]

## Replace trial numerations

In [4]:
partNums = pd.unique(data_fix["parcode"])

new_fix_dataframe = data_fix.iloc[0:0]
new_expData_dataframe = data_expData.iloc[0:0]

for i in partNums:
    old_index_trial = []
    new_index_trial = []
    participant_trials = []
    
    participant_trials = data_expData.loc[data_expData['parcode'] == i]
    part_fix_trials = data_fix.loc[data_fix['parcode'] == i]
    
    old_index_trial = participant_trials['trial'].values
    new_index_trial = range(len(old_index_trial))
    
    old_index_trial_fix = part_fix_trials['trial'].unique()
    new_index_trial_fix = range(len(old_index_trial_fix))
        
    for j in new_index_trial:
            #insert new column with new trial numeration : case trialData
            trialCol2Replace = participant_trials['trial'].replace(old_index_trial[j], new_index_trial[j])
            participant_trials = participant_trials.drop(['trial'], axis=1)
            participant_trials.insert(1,'trial',trialCol2Replace)
            
            #insert new column with new trial numeration : case Fixations
            fixCol2Replace = part_fix_trials['trial'].replace(old_index_trial_fix[j], new_index_trial_fix[j]).values
            part_fix_trials = part_fix_trials.drop(['trial'], axis=1)
            part_fix_trials.insert(1,'trial',fixCol2Replace)
            
            time_trials = part_fix_trials['fix_time'].values
            
            ix = np.in1d(time_trials, 0)
            delete_fix_idx = np.where(ix)
            part_fix_trials = part_fix_trials.drop(part_fix_trials.index[delete_fix_idx])
            
    new_fix_dataframe = pd.concat([new_fix_dataframe, part_fix_trials],axis = 0)
    new_expData_dataframe = pd.concat([new_expData_dataframe, participant_trials], axis = 0)

In [5]:
new_fix_dataframe

       parcode  trial  fix_item  fix_time
0            1      0         0   171.000
1            1      0         1   868.000
2            1      0         0   266.000
3            1      0         2   429.284
4            1      1         0   235.000
5            1      1         1   314.000
6            1      1         2   680.000
7            1      1         1   696.000
8            1      1         2   770.000
9            1      1         1  1490.000
10           1      1         0   288.000
11           1      1         1  2082.370
12           1      2         0   161.000
13           1      2         1   696.000
14           1      2         2   632.000
15           1      2         1   704.000
16           1      2         2   726.000
17           1      2         1   255.566
18           1      3         0   136.000
19           1      3         1   832.000
20           1      3         2   620.000
21           1      3         1   836.000
22           1      3         2   453.579
23           1      4         0   150.000
24           1      4         1   866.000
25           1      4         2   790.310
26           1      5         0    67.000
27           1      5         1   574.000
28           1      5         0   376.000
29           1      5         2   638.000
...        ...    ...       ...       ...
23017       33    113         1   688.000
23018       33    113         2   350.699
23020       33    114         1   513.000
23021       33    114         2   732.000
23022       33    114         1   762.000
23023       33    114         2   844.448
23024       33    115         0   225.000
23025       33    115         1   494.000
23026       33    115         2   798.000
23027       33    115         1  1056.000
23028       33    115         2   928.000
23029       33    115         1   526.628
23031       33    116         1  1933.000
23032       33    116         2   905.649
23033       33    117         0   172.000
23034       33    117         1   854.000
23035       33    117         2  1322.000
23036       33    117         1  1462.000
23037       33    117         2  1736.000
23038       33    117         1  1282.000
23039       33    117         2   664.000
23040       33    117         1   716.000
23041       33    117         0    70.587
23043       33    118         1   429.000
23044       33    118         2  1258.000
23045       33    118         1  1104.000
23046       33    118         2  1115.836
23048       33    119         1   400.000
23049       33    119         2  1082.000
23050       33    119         1  1100.740

[22047 rows x 4 columns]

In [6]:
new_expData_dataframe

      parcode  trial         rt  choice  item_left  item_right
0           1      0   1734.284       1        110         131
1           1      1   6555.370      -1         47          50
2           1      2   3174.566      -1         50          44
3           1      3   2877.579       1         57          50
4           1      4   1806.310       1         42          50
5           1      5   3636.816      -1        108         110
6           1      6   3650.266       1         78          80
7           1      7   3078.223      -1        110          92
8           1      8   1259.268       1         50          48
9           1      9   3440.738      -1        110         101
10          1     10   5698.027       1         46          50
11          1     11   8224.467       1         80          83
12          1     12   2626.168       1         50          56
13          1     13   1991.413      -1         50          47
14          1     14   1671.149       1        110         124
15          1     15   2607.607      -1         91          80
16          1     16   1527.826       1         64          80
17          1     17   5043.160      -1         83          80
18          1     18   2267.665       1        101         110
19          1     19   4499.543      -1         56          50
20          1     20   5571.061      -1         50          42
21          1     21   2045.641       1        110         117
22          1     22   1402.112       1         77          80
23          1     23   2736.625       1         80          91
24          1     24   2065.604       1         44          50
25          1     25   3058.203       1         50          57
26          1     26   1613.454       1         50          46
27          1     27   1931.482       1        110         108
28          1     28   4895.517      -1        133         110
29          1     29   3197.860       1        131         110
...       ...    ...        ...     ...        ...         ...
3930       33     90   3936.449      -1         80          70
3931       33     91   2977.221      -1         80          93
3932       33     92  11964.377      -1         82          80
3933       33     93   4135.630      -1         50          41
3934       33     94   2743.440       1         96         110
3935       33     95   3397.340      -1         80          85
3936       33     96   2532.466      -1         60          50
3937       33     97   6140.558      -1         41          50
3938       33     98   6412.806       1        110          96
3939       33     99   4655.703       1         72          80
3940       33    100   4007.788      -1         49          50
3941       33    101   5057.656      -1         43          50
3942       33    102   3685.316      -1         51          50
3943       33    103   5533.621       1        112         110
3944       33    104   1988.182       1         40          50
3945       33    105   5891.906       1         50          51
3946       33    106   4300.777      -1         85          80
3947       33    107   5242.890      -1         50          49
3948       33    108   7640.657      -1         50          43
3949       33    109   3754.229      -1         80          82
3950       33    110   3341.929       1         50          60
3951       33    111   1694.368      -1         53          50
3952       33    112   2674.219      -1        122         110
3953       33    113   2228.699       1         67          80
3954       33    114   2848.448       1         80          67
3955       33    115   4027.628      -1         70          80
3956       33    116   2835.649       1        110         122
3957       33    117   8278.587      -1        110         115
3958       33    118   3903.836       1        110         112
3959       33    119   2579.740      -1        110         103

[3840 rows x 6 columns]

In [7]:
new_expData_dataframe.to_csv("Output/aDDM_Data_PF2019_More_NoBin_33.csv",index = True)
new_fix_dataframe.to_csv("Output/aDDM_Fix_PF2019_More_NoBin_33.csv",index = True)

## Binning for value

In [8]:
new_expData_dataframe["item_value_0_bin"] = pd.to_numeric(pd.qcut(new_expData_dataframe["item_left"].values, 8, labels=[0, 1, 2,3,4,5,6,7]))
new_expData_dataframe["item_value_1_bin"] = pd.to_numeric(pd.qcut(new_expData_dataframe["item_right"].values, 8, labels=[0, 1, 2,3,4,5,6,7]))

In [9]:
new_expData_dataframe = new_expData_dataframe.drop(columns= ['item_left','item_right'])
new_expData_dataframe = new_expData_dataframe.rename(index=str, columns={"item_value_0_bin": "item_left","item_value_1_bin": "item_right"})

In [10]:
new_expData_dataframe.to_csv("Output/aDDM_Data_PF2019_More_YesBin_33.csv",index = True)

# Less Condition Data

In [11]:
#Input has the fixation and expdat with breaks in trial numerations (due to separation in Like and Dislike conditions)
#data_fix = pd.read_csv('/Users/pradyumna/Documents/gitDocs/FF2018/Output/fixations_collapsed_FFA_Dislike_v1.csv') 
#data_expData = pd.read_csv('/Users/pradyumna/Documents/gitDocs/FF2018/Output/expdata_bin_FFA_Dislike_v1.csv') 

#for binned data
# we use v1 that is the version that doesn't have the numeration corrected
#data_fix = pd.read_csv('/Users/pradyumna/Documents/GiTs/FF2018/InputData/fixations_collapsed_FFA_Like_31.csv') 
#data_expData = pd.read_csv('/Users/pradyumna/Documents/GiTs/FF2018/output/expdata_bin_FFA_Like_31.csv') 

#for not binned data
data_fix = pd.read_csv('/Users/pradyumna/Documents/GiTs/PF2019/Output/fixations_collapsed_PF2019_Less_33.csv') 
data_expData = pd.read_csv('/Users/pradyumna/Documents/GiTs/PF2019/Output/expdata_PF2019_Less_33.csv') 

data_expData = data_expData.apply(pd.to_numeric, errors='ignore')
data_fix = data_fix.apply(pd.to_numeric, errors='ignore')


# Remove participants 31 , since it's excluded due to missing trial
data_expData = data_expData[data_expData.parcode != 31]
data_fix = data_fix[data_fix.parcode != 31]

## Replace numerations

In [12]:
partNums = pd.unique(data_fix["parcode"])

new_fix_dataframe = data_fix.iloc[0:0]
new_expData_dataframe = data_expData.iloc[0:0]

for i in partNums:
    old_index_trial = []
    new_index_trial = []
    participant_trials = []
    
    participant_trials = data_expData.loc[data_expData['parcode'] == i]
    part_fix_trials = data_fix.loc[data_fix['parcode'] == i]
    
    old_index_trial = participant_trials['trial'].values
    new_index_trial = range(len(old_index_trial))
    
    old_index_trial_fix = part_fix_trials['trial'].unique()
    new_index_trial_fix = range(len(old_index_trial_fix))
        
    for j in new_index_trial:
            #insert new column with new trial numeration : case trialData
            trialCol2Replace = participant_trials['trial'].replace(old_index_trial[j], new_index_trial[j])
            participant_trials = participant_trials.drop(['trial'], axis=1)
            participant_trials.insert(1,'trial',trialCol2Replace)
            
            #insert new column with new trial numeration : case Fixations
            fixCol2Replace = part_fix_trials['trial'].replace(old_index_trial_fix[j], new_index_trial_fix[j]).values
            part_fix_trials = part_fix_trials.drop(['trial'], axis=1)
            part_fix_trials.insert(1,'trial',fixCol2Replace)
            
            time_trials = part_fix_trials['fix_time'].values
            
            ix = np.in1d(time_trials, 0)
            delete_fix_idx = np.where(ix)
            part_fix_trials = part_fix_trials.drop(part_fix_trials.index[delete_fix_idx])
            
    new_fix_dataframe = pd.concat([new_fix_dataframe, part_fix_trials],axis = 0)
    new_expData_dataframe = pd.concat([new_expData_dataframe, participant_trials], axis = 0)

In [13]:
new_expData_dataframe.to_csv("Output/aDDM_Data_PF2019_Less_NoBin_33.csv",index = True)
new_fix_dataframe.to_csv("Output/aDDM_Fix_PF2019_Less_NoBin_33.csv",index = True)

## Flip values (No Bin)

In [14]:
item_left_inv = 133 - new_expData_dataframe["item_left"] +40 
item_right_inv = 133 - new_expData_dataframe["item_right"]+ 40

In [15]:
new_expData_dataframe1 = new_expData_dataframe
new_expData_dataframe1.drop(columns=['item_left', 'item_right'])
new_expData_dataframe1['item_left'] = item_left_inv
new_expData_dataframe1['item_right'] = item_right_inv

In [16]:
new_expData_dataframe1.to_csv("Output/aDDM_Data_PF2019_Less_NoBin_33_Inv.csv",index = True)

## Binning for value

In [17]:
new_expData_dataframe["item_value_0_bin"] = pd.to_numeric(pd.qcut(new_expData_dataframe["item_left"].values, 8, labels=[0, 1, 2,3,4,5,6,7]))
new_expData_dataframe["item_value_1_bin"] = pd.to_numeric(pd.qcut(new_expData_dataframe["item_right"].values, 8, labels=[0, 1, 2,3,4,5,6,7]))

In [18]:
new_expData_dataframe = new_expData_dataframe.drop(columns= ['item_left','item_right'])
new_expData_dataframe = new_expData_dataframe.rename(index=str, columns={"item_value_0_bin": "item_left","item_value_1_bin": "item_right"})

In [19]:
new_expData_dataframe.to_csv("Output/aDDM_Data_PF2019_Less_YesBin_33.csv",index = True)

## Flip values (Bin)

In [20]:
item_left_inv = 7 - new_expData_dataframe["item_left"]  
item_right_inv = 7 - new_expData_dataframe["item_right"]

In [21]:
new_expData_dataframe.drop(columns=['item_left', 'item_right'])
new_expData_dataframe['item_left'] = item_left_inv
new_expData_dataframe['item_right'] = item_right_inv

In [22]:
new_expData_dataframe.to_csv("Output/aDDM_Data_PF2019_Less_YesBin_33_Inv.csv",index = True)